:root
{
    /* Node Editor Window */
    --ds-node-editor-padding-5px: 5px;
    --ds-node-editor-background-color: #3f3f3f;
    
    --ds-border-radius-5px: 5px;
    --ds-border-radius-10px: 10px;
    
    --ds-border-width-1px: 1px;

    --ds-button-color-default: #585858;
    --ds-button-color-selected: #707070;
    --ds-button-color-pressed: #b8860b;
    
    /*--ds-border-color-selected: #6e6e6e;*/
    --ds-border-color-default: #212121;

    /* Dialogue Test Editor Window */
    
}